/* row, col 24等分，借鉴element-ui start!! */

.el-col-1, .el-col-10, .el-col-11, .el-col-12, .el-col-13, .el-col-14, .el-col-15, .el-col-16, .el-col-17, .el-col-18, .el-col-19, .el-col-2, .el-col-20, .el-col-21, .el-col-22, .el-col-23, .el-col-24, .el-col-3, .el-col-4, .el-col-5, .el-col-6, .el-col-7, .el-col-8, .el-col-9 {
    float: left;
    box-sizing: border-box;
}
.el-col-1{
    width: (1 / 24 *100%);
}
.el-col-2{
    width: (2 / 24 *100%);
}
.el-col-3{
    width: (3 / 24 *100%);
}
.el-col-4{
    width: (4 / 24 *100%);
}

.el-col-5{
    width: (5 / 24 * 100%);
}
.el-col-6{
    width: (6 / 24 *100%);
}
.el-col-7{
    width: (7 / 24 *100%);
}
.el-col-8{
    width: (8 / 24 *100%);
}
.el-col-9{
    width: (9 / 24 *100%);
}
.el-col-10{
    width: (10 / 24 *100%);
}
.el-col-11{
    width: (11 / 24 *100%);
}
.el-col-12{
    width: (12 / 24 *100%);
}

/* row, col 24等分，借鉴element-ui end!! */
