main-update-broadcast {
  width: 100%
  height: 100%
  padding-left: 24px;
  .ml20 {
    margin-left: 20px;
  }
  .main {
    font-size: 12px;
    margin-top: -30px;
    .update-broadcast {
      padding-left: 20%;
    }
    .title {
      font-size: 14px;
      height: 50px;
      line-height: 50px
      background: #fff;
      box-shadow 0 2px 2px 0 #ccc
      margin-left: 0 !important;
      ul {
        list-style none;
        .create-live-title {
          margin-left: 5px;
        }
        li {
          float: left;
          a {
            text-decoration none;
          }
        }
      }
    }
    .box-broadcast {
      height: 30px
      margin: 20px;
      display flex
      .box-left {
        width: 160px
        line-height: 34px;
        text-align: right;
        .cg {
          display: inline-block
        }
        .notice {
          color: red;
          margin-left: 18px;
          margin-top: 3px;
        }
      }
      .live-radio {
        display: flex;
        align-items center;
        input {
          width: 17px;
          margin-right: 6px;
          padding: 7px;
        }
        label {
          margin-right: 20px;
          margin-top: 6px;
          font-weight: normal;
        }
      }
      .box-right {
        margin-left: 15px
        input, select {
          border-radius: 2px;
          height: 34px;
          border: 1px solid #cccccc;
          padding-left: 10px;
        }
        select {
          border: 1px solid #cccccc;
          width: 409px;
          padding-left: 10px;
        }
        span {
          margin-left: 5px;
          margin-right: 5px;
          color: #999999;
        }
        .input-live-password {
          color: red;
          margin-left: 10px;
        }
        .titleContent {
          width: 409px;
          padding-left: 10px;
        }
        .inputBox {
          width: 187px
          padding-left: 10px;
          font-size: 12px;
        }
      }
    }
    .box-pic {
      margin: 20px;
      display flex
      .box-left {
        width: 160px
        line-height: 25px
        display: flex
        justify-content space-between
      }
      .box-right{
        display: flex
        margin-left: 15px;
        .update-input-file-container {
          width: 70px;
          height: 30px;
          cursor: pointer;
          background: #169bd5;
          color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 141px;
          margin-left: 25px;
          padding-top: 6px;
          border-radius: 3px;
        }
        #preview {
          width: 204px
          height: 204px
          img {
            width: 204px !important;
            height: 204px !important;
            background: #ffffff;
          }
        }
        img {
          height: 105px;
          width: 115px;
          border-radius: 2px;
        }
        button {
          position: relative;
          margin-left: 17px;
          height: 34px;
          background: rgb(48, 142, 242);
          border-color: rgb(48, 142, 242);
        }
        input {
          width: 64px;
          height: 24px;
          margin-left: 5px;
          margin-top: -20px;
          opacity: 0;
        }
        .uploadPic {
          width: 100px
          height: 80px
          margin-right:20px
          background: pink

        }
        .commend{
          color:#999;
          margin-top: 71px;
          margin-left: -80px;
          width: 166px;
        }

      }
    }
    .box-describe {
      margin: 20px;
      display flex
      .box-left {
        width: 160px
        line-height: 25px
        display: flex
        justify-content space-between
      }
      .box-right {
        margin-left: 15px;
        .live-desc {
          height: 126px;
          width: 409px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          border: 1px solid #ccc;
          padding-left: 10px;
        }
      }
    }
    .bottom {
      display flex
      margin-left: 194px;
      margin-bottom:30px;
      button {
        width: 102px
        height: 36px
        margin-right: 20px;
      }
      .save-btn {
        background: #308ef2;
        border-color: #308ef2;
      }
    }

  }
}
#laydate_box .laydate_bottom {
  height: 33px;
}