<div class="main">
    <input id="J-upd-picture" type="file" style="display: none;" />
    <div class="box">
        <div class="title">
            <ul>
                <li><a ui-sref="main.live" translate="ADMIN_LIVE_ACTIVITY"> </a></li>
                <li class="active create-live-title" translate="ADMIN_REVISE_LIVE"></li>
            </ul>
        </div>
        <div class="update-broadcast">
            <div class="box-broadcast">
                <div class="box-left">
                    <span class="notice">*</span>
                    <span class="titleText" translate="ADMIN_LIVE_TITLE"></span>
                </div>
                <div class="box-right">
                    <input type="text" class="titleContent" ng-model="vm.liveTitile" maxlength="30">
                    <span class="cg" translate="ADMIN_WITHIN_WORDS"></span>
                </div>
            </div>
            <div class="box-broadcast">
                <div class="box-left">
                    <span class="notice">*</span>
                    <span class="titleText" translate="ADMIN_LIVE_TIME"></span>
                </div>
                <div class="box-right">
                    <input id="J-update-start-time" name="start-time" class="inputBox laydate-icon" ng-value="vm.startLiveTime" ng-readonly="true">
                    <span translate="ADMIN_TO"></span>
                    <input id="J-update-end-time" name="end-time" class="inputBox laydate-icon" ng-value="vm.endLiveTime" ng-readonly="true">
                </div>
            </div>
            <div class="box-broadcast">
                <div class="box-left">
                    <span class="notice">*</span>
                    <span class="titleText" translate="ADMIN_ROOM_NUMBER"></span>
                </div>
                <div class="box-right">
                    <select ng-model="vm.meetingRoomNum">
                        <option ng-value="item.meetingRoomNum" ng-repeat="item in vm.meetingRoomList">{{item.meetingRoomNum}}</option>
                    </select>
                </div>
            </div>
            <div class="box-broadcast">
                <div class="box-left">
                    <span class="notice">*</span>
                    <span class="titleText" translate="ADMIN_LIVE_RIGHTS"></span>
                </div>
                <div class="box-right live-radio">
                    <input id="public" type="radio" name="radioButton" ng-click="vm.liveAuthority = 0;vm.livePassword = ''" ng-checked="vm.liveAuthority === 0 ? true : false">
                    <label for="public" ng-click="vm.liveAuthority = 0;vm.livePassword = ''" translate="ADMIN_PUBLIC"></label>
                    <input id="private" type="radio" name="radioButton" ng-click="vm.liveAuthority = 1" ng-checked="vm.liveAuthority === 1 ? true : false">
                    <label for="private" ng-click="vm.liveAuthority = 1" translate="ADMIN_ENCRYPTION"></label>
                    <input type="text" class="inputBox" ng-show="vm.liveAuthority == 1" ng-model="vm.livePassword">
                    <span class="input-live-password" ng-show="vm.liveAuthority == 1 && vm.livePassword === ''" translate="ADMIN_INPUT_PASSWORD"></span>
                </div>
            </div>
            <div class="box-broadcast">
                <div class="box-left">
                    <span class="notice">*</span>
                    <span class="titleText" translate="ADMIN_LIVE_INTERACTION"></span>
                </div>
                <div class="box-right live-radio">
                    <input id="allow" type="radio" name="interact" ng-click="vm.interact = 1" ng-checked="vm.interact === 1 ? true : false">
                    <label for="allow" ng-click="vm.interact = 1" translate="ADMIN_LIVE_ALLOW"></label>
                    <input id="notAllow" type="radio" name="interact" ng-click="vm.interact = 0" ng-checked="vm.interact === 0 ? true : false">
                    <label for="notAllow" ng-click="vm.interact = 0" translate="ADMIN_LIVE_NOT_ALLOW"></label>
                </div>
            </div>
            <div class="box-broadcast">
                <div class="box-left">
                    <span class="notice">*</span>
                    <span class="titleText" translate="ADMIN_DEFINITION"></span>
                </div>
                <div class="box-right live-radio">
                    <input id="normal" type="radio" name="articulation" ng-click="vm.articulation = 0" ng-checked="vm.articulation === 0 ? true : false">
                    <label for="normal" ng-click="vm.articulation = 0" translate="ADMIN_SD"></label>
                    <input id="higher" type="radio" name="articulation" ng-click="vm.articulation = 1" ng-checked="vm.articulation === 1 ? true : false">
                    <label for="higher" ng-click="vm.articulation = 1" translate="ADMIN_HIGH"></label>
                </div>
            </div>
            <!-- 推流地址 -->
            <div class="box-broadcast">
                <div class="box-left">
                    <span class="notice"></span>
                    <span class="titleText" translate="ADMIN_LIVE_PUSH_URL"></span>
                </div>
                <div class="box-right" ng-bind="vm.rtmpUrl"></div>
            </div>
            <!-- 拉流地址 -->
            <div class="box-broadcast">
                <div class="box-left">
                    <span class="notice"></span>
                    <span class="titleText" translate="ADMIN_LIVE_PULL_URL"></span>
                </div>
                <div class="box-right" ng-bind="vm.liveUrl"></div>
            </div>
            <div class="box-describe">
                <div class="box-left">
                    <span class="notice"></span>
                    <span class="titleText" translate="ADMIN_LIVE_DESCRIPTION"></span>
                </div>
                <div class="box-right">
                    <textarea class="live-desc" name="" ng-model="vm.liveDescription"></textarea>
                </div>
            </div>
            <div class="box-pic">
                <div class="box-left">
                    <span class="notice"></span>
                    <span class="titleText" translate="ADMIN_COVER_IMAGE"></span>
                </div>
                <div class="box-right" id="myCtrl">
                    <img ng-src="{{vm.imageUrl + vm.coverImage}}" class="img-rounded" ng-if="vm.coverImage">
                    <img class="img-rounded" ng-if="!vm.coverImage">
                    <button type="button" class="btn btn-primary" ng-click="vm.selectPicture()" translate="ADMIN_CHOOSE_IMAGE"></button>
                    <span class="commend" translate="ADMIN_RECOMMENDED_SIZE11"></span>
                </div>
            </div>
            <div class="bottom">
                <button id="save" class="save-btn btn btn-primary" ng-click="vm.updateLive()" translate="ADMIN_SAVE"></button>
                <button id="cancel" class="btn btn-default" ui-sref="main.live" translate="ADMIN_CANCEL"></button>
            </div>
        </div>
    </div>
</div>