<div class="main">
    <div class="feedback" ng-show="vm.visible">
        <div class="alerts1">
            <div class="alert1-head" translate="ADMIN_EDIT_HARDWARE"></div>
            <div class="create-broadcast">
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice"></span>
                        <span class="titleText" translate="ADMIN_ALIAS"></span>
                    </div>
                    <div class="box-right">
                        <!--<input type="text" class="titleContent" ng-model="vm.personName" maxlength="30" placeholder="请输入姓名">-->
                        <span class="titleContent"> {{vm.deviceAlias}}</span>
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice"></span>
                        <span class="titleText" translate="ADMIN_DEVICE_NAME"></span>
                    </div>
                    <div class="box-right">
                        <input type="text" class="titleContent" ng-model="vm.deviceName" maxlength="30" placeholder="{{'ADMIN_INPUT_TYPE'| translate}}">
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice"></span>
                        <span class="titleText" translate="ADMIN_BIND_ACCOUNT"></span>
                    </div>
                    <div class="box-right">
                        <!--<input type="text" class="titleContent" ng-model="vm.personEmail" maxlength="30" placeholder="请输入邮箱">-->
                        <span class="titleContent">{{vm.account}}</span>
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice">*</span>
                        <span class="titleText" translate="ADMIN_BIND_PASSWORD"></span>
                    </div>
                    <div class="box-right">
                        <input type="text" class="titleContent" ng-model="vm.password" maxlength="30" placeholder="{{'ADMIN_INPUT_TYPE'| translate}}">
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice">*</span>
                        <span class="titleText" translate="ADMIN_INSTITUTIONS"></span>
                    </div>
                    <div class="box-right">
                        <!--<input type="text" class="titleContent" ng-model="vm.origanizeName" maxlength="30" placeholder="6-12位字母或数字">-->
                        <span class="titleContent">{{vm.origanizeName}}</span>
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice"></span>
                        <span class="titleText" translate="ADMIN_DEPARTMENT"></span>
                    </div>
                    <div class="box-right">
                        <select ng-model="vm.departName" style="border: 1px solid #cccccc;">
                            <option value="" translate="ADMIN_NOTHING"></option>
                            <option ng-value="item.id" ng-repeat="item in vm.departNames" ng-hide="item.tName === ''">{{item.departName}}</option>
                        </select>
                    </div>
                </div>
                <div class="box-describe">
                    <div class="box-left">
                        <span class="notice"></span>
                        <span class="titleText" translate="ADMIN_ACCOUNT_DESCRIPTION"></span>
                    </div>
                    <div class="box-right">
                        <textarea class="live-desc" name="" ng-model="vm.remark" cols="30" rows="5" placeholder="{{'ADMIN_INPUT_DESCRIPTION'| translate}}"></textarea>
                    </div>
                </div>

            </div>
            <div class="alert-bottom">
                <span class="alert-sure" ng-click="vm.sureEdit()" translate="ADMIN_SURE"></span>
                <span class="alert-cancel" ng-click="vm.close()" translate="ADMIN_CANCEL"></span>
            </div>
        </div>
    </div>
    <div class="feedback" ng-show="vm.visible1">
        <div class="alerts">
            <div class="alert-head">
                <span translate="ADMIN_REMINDER"></span>
                <img src="../../../static/images1/alertshanchu.png" alt="" class="img-right" ng-click="vm.close()">
                <img src="../../../static/images1/zhuyi.png" alt="" class="img-left">
            </div>
            <div class="alert-content">{{vm.feedbackContent}}</div>
            <div class="alert-bottom">
                <span class="alert-sure" ng-click="vm.close()" translate="ADMIN_SURE"></span>
            </div>
        </div>
    </div>
    <!--<div class="head">-->
        <!--<div class="head-content">-->
            <!--&lt;!&ndash;<h1 class="left"><img src="image/logo.png" alt=""></h1>&ndash;&gt;-->
            <!--<div class="userss">-->
                <!--终端账号<br>HARDWARE MANAGEMENT-->
            <!--</div>-->
            <!--<div class="right2" ng-click="vm.signout()">-->
                <!--<img src="../../../static/images2/red-end.png" alt="" class="red">-->
                <!--<img src="../../../static/images2/gray-end.png" alt="" class="gray">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="box">
        <div class="title">
            <span translate="ADMIN_TERMINAL"></span>
        </div>
        <div class="list">
            <table class="table">
                <tr>
                    <th translate="ADMIN_ALIAS1"></th>
                    <th translate="ADMIN_DEVICE_NAME1"></th>
                    <th translate="ADMIN_BIND_ACCOUNT1"></th>
                    <th translate="ADMIN_BIND_PASSWORD1"></th>
                    <th translate="ADMIN_SERVER"></th>
                    <th translate="ADMIN_OPERATION"></th>
                </tr>
                <tr ng-repeat="item in vm.items">
                    <td>{{!item.accountAlias?"":item.accountAlias}}</td>
                    <td>{{!item.displayName?"":item.displayName}}</td>
                    <td>{{!item.pexipName?"":item.pexipName}}</td>
                    <td>{{!item.pexipPassword?"":item.pexipPassword}}</td>
                    <td>cloudp.cc</td>
                    <td><a href="" style="text-decoration: none" ng-click="vm.deviceModify(item.id,item.accountAlias,item.displayName,item.pexipName,item.pexipPassword,item.departId,item.description)" translate="ADMIN_MODIFY"></a></td>
                </tr>

            </table>
        </div>
        <div class="paging">
            <span><span translate="ADMIN_NO"></span><i ng-bind="vm.selPage"></i><span translate="ADMIN_TOTAL"></span><i ng-bind="vm.total"></i><span translate="ADMIN_TOTAL1"></span><i ng-bind="vm.totalCount"></i><span translate="ADMIN_STRIP"></span></span>
            <span class="before page-common" ng-click="vm.prevPage(vm.selPage)" ng-class="{1:'bg'}[vm.selPage]">＜</span>
            <ul>
                <li class="pageNum page-common" ng-click="vm.selectPage(item.value,item.type)"  ng-repeat="item in vm.pager" ng-class="{true:'current',false:'normal'}[item.isCurrent]">{{item.type==0?item.value:'...'}}</li>
            </ul>
            <span class="after page-common" ng-click="vm.nextPage(vm.selPage)" ng-class="{'bg':vm.selPage==vm.total}">＞</span>
            <input type="text" class="skip" ng-model="vm.count">
            <span class="skipButton" ng-click="vm.jump(vm.count)" translate="ADMIN_JUMP"></span>
        </div>
    </div>

</div>
