.meeting-detail {
  .box {
    background: none !important;
  }
  .meeting-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: heiti;
  }
  hr {
    margin: 0 20px;
    border-top: 1px solid rgba(104, 120, 140, 0.2);
  }
  .meeting-overview {
    background: #fff;
    box-shadow: 5px 8px 10px rgba(0,0,0,0.05);
    .overview-detail {
      padding: 5px 30px 10px;
      font-size: 12px;
      color: #68788c;
      width: 92%;
      .item {
        height: 40px;
        line-height: 40px;
        display: flex;
        justify-content: space-between;
        .item-value {
          width: 120px;
          text-align: center;
        }
      }
    }
  }
  .participant-detail {
    background: #fff;
    margin-top: 28px;
    .td-detail {
      color: #42a8fb !important;
      cursor: pointer;
    }
    .no-data {
      height: 150px;
      line-height: 200px;
      margin: 0 auto;
      font-size: 12px;
      color: #9c9c9c;
    }
  }
}