<div class="main meeting-detail">
    <div class="box">
        <div class="meeting-title" translate="ADMIN_STATUS_ACTIVE_TITLE"></div>
        <!-- 会议总览 -->
        <div class="meeting-overview">
            <div class="title">
                <span translate="ADMIN_STATUS_MEETING_OVERVIEW"></span>
            </div>
            <hr>
            <div class="overview-detail">
                <div class="item">
                    <div translate="ADMIN_STATUS_ACTIVE_NUMBER"></div>
                    <div class="item-value" ng-bind="vm.meetingRoomNum"></div>
                </div>
                <div class="item">
                    <div translate="ADMIN_STATUS_ACTIVE_DURATION"></div>
                    <div class="item-value" ng-bind="vm.conferenceDuration"></div>
                </div>
                <div class="item">
                    <div translate="ADMIN_STATUS_MEETING_LOCKED"></div>
                    <div class="item-value" translate="ADMIN_YES" ng-if="vm.locked"></div>
                    <div class="item-value" translate="ADMIN_NOT" ng-if="!vm.locked"></div>
                </div>
                <div class="item">
                    <div translate="ADMIN_STATUS_MEETING_MUTED"></div>
                    <div class="item-value" translate="ADMIN_YES" ng-if="vm.guestsMuted"></div>
                    <div class="item-value" translate="ADMIN_NOT" ng-if="!vm.guestsMuted"></div>
                </div>
            </div>
        </div>
        <!-- 参会者详情 -->
        <div class="participant-detail">
            <div class="title">
                <span translate="ADMIN_STATUS_MEETING_DETAIL"></span>
            </div>
            <div class="list">
                <table class="table" ng-if="vm.detailInfoList.length">
                    <tr>
                        <th translate="ADMIN_STATUS_MEETING_NAME"></th>
                        <th translate="ADMIN_STATUS_ACTIVE_DURATION"></th>
                        <th translate="ADMIN_STATUS_MEETING_LOCATION"></th>
                        <th translate="ADMIN_STATUS_MEETING_ROLE"></th>
                        <th translate="ADMIN_STATUS_MEETING_IS_PLAY"></th>
                        <th translate="ADMIN_STATUS_MEETING_IS_MUTED"></th>
                        <!--<th translate="ADMIN_STATUS_MEETING_CURRENT_PACKET_LOSS"></th>-->
                        <th translate="ADMIN_STATUS_MEETING_TOTAL_PACKET_LOSS"></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in vm.detailInfoList track by $index">
                        <td ng-bind="item.participantName"></td>
                        <td ng-bind="item.participantDuration"></td>
                        <td ng-bind="item.systemLocation"></td>
                        <td translate="ADMIN_STATUS_MEETING_HOST" ng-if="item.role=='chair'"></td>
                        <td translate="ADMIN_STATUS_MEETING_GUEST" ng-if="item.role=='guest'"></td>
                        <td translate="ADMIN_YES" ng-if="item.presenting"></td>
                        <td translate="ADMIN_NOT" ng-if="!item.presenting"></td>
                        <td translate="ADMIN_YES" ng-if="item.muted"></td>
                        <td translate="ADMIN_NOT" ng-if="!item.muted"></td>
                        <!--<td ng-bind="item.currentPacketLoss"></td>-->
                        <td ng-bind="item.totalPacketLoss"></td>
                        <td class="td-detail" translate="ADMIN_STATUS_MEETING_OPERATION" ng-click="vm.jumpParticipantDetail(item)"></td>
                    </tr>
                </table>
                <div class="no-data" ng-if="!vm.detailInfoList.length" translate="ADMIN_WARN_TIP18"></div>
            </div>
        </div>

    </div>
</div>
