main-department-manage {
  width: 100%
  height: 100%
  .ml20 {
    margin-left: 20px;
  }
  .main {
  //width: 100%
    height: 100%
    display: flex
  //background: pink;
    flex-direction column
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    font-size: 14px;
    .list{
      ul{
        list-style none;
        margin:0;
        padding:0;
        li{
          height: 40px
          line-height: 40px
        }
      }
    }
  }
}