main-use-count {
  width: 100%
  height: 100%
  .ml20 {
    margin-left: 20px;
  }
  .main {
    overflow: auto
    font-size: 14px;
    .uc-no-data-container{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
              align-items: center;

      .uc-no-data-title {
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        font-weight: bold;
      }
      .uc-no-data-img {
        width:160px;
        height: 200px;
        background: url("../../../static/images/no-data.png") center center no-repeat;
      }
    }
    .use-count-box-right-header {
      background: #ffffff;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      .use-count-text-container {
        display: flex;
        align-items: center;
        padding-left: 16px;
        .use-count-nav-icon {
          background: #31a3dd;
          width: 4px;
          height: 19px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }
        .right-title {
          height: 65px;
          line-height: 65px;
          display: flex;
          justify-content: space-between;
          font-size: 18px;
          color: #646464;
          text-indent: 10px;
          font-weight: bold;
        }
      }
      .search-condition-container {
        display: flex;
        padding-bottom: 18px;
        .time-button-container {
          display: flex;
          border: 1px solid #ccc;
          margin-left: 16px;
          height: 37px;
          .selected {
            background: #1d94f5 !important;
            color: #ffffff !important;
          }
          div {
            background: #fff;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border: 0;
            //padding-left: 15px;
            //padding-right: 15px;
            cursor: pointer;
            width: 72px;
          }
          div:hover {
            background: #1d94f5 !important;
            color: #ffffff !important;
          }
        }
        .search-time-container {
          margin-left: 2%;
          display: flex;
          div {
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          input {
            height: 37px;
            line-height: 37px;
            border: 1px solid #ccc;
            width: 127px;
            text-align: center;
          }
          i {
            display: inline-block;
            width: 25px;
            background: #a9a9a9;
            height: 1px;
            margin-right: 5px;
            margin-left: 5px;
            margin-top: 15px;
          }
        }
        .meeting-search-input-container input {
          border: 1px solid #ccc;
          height: 37px;
          width: 200px;
          margin-left: 10px;
          padding-left: 10px;
        }
        .search-button {
          font-size: 16px;
          text-align center
          color: #68788c;
          height: 35px;
          line-height: 35px;
          cursor: pointer;
          &:hover {
            color: #49728c;
          }
        }
        .output-table-button {
          font-size:16px;
          color: #31a3dd;
          height: 35px;
          line-height: 35px;
          text-align: center;
          cursor: pointer;
          background: #fff;
          &:hover {
            color: #1b729f;
          }
        }
      }
    }
    .row {
      display: flex;
      background: #ffffff;
      border-radius: 5px;
      margin-top: 22px;
      width: 100%
      margin-right: 0;
      margin-left: 0;
      .meeting-charts-container {
          width: 69%;
          height: 300px;
          margin-top: 30px;
          padding-top: 20px;
      }
      .meeting-table-container {
        width: 31%;
        height: 270px;
        border-left: 1px solid #ccc;
        overflow-y: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-right: 2%;
        padding-left: 2%;
          table {
              text-align: center;
              th,
              td {
                width: 150px;
                max-width: 150px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
          }
      }
    }
    .meeting-duration-container {
      background: #fff;
      border-radius: 5px;
      margin-top: 22px;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      position: relative;
      height: 487px;
      margin-bottom: 22px;
      .meeting-duration-chart-container {
        width: 90%;
        margin: 30px 5% 10px;
      }
      .meeting-duration-table-container {
        width: 98%;
        overflow-x: auto;
        height: 138px;
        margin-left: 10px
        margin-bottom: 30px;
        position: absolute;
        text-align: center;
        .tr-title {
          background: #f5f6f5;
        }
        .tr-first {
          background: #e8f5ff;
        }
        .tr-second {
          background: #fff7e5;
        }
        td {
          min-width: 106px;
        }
      }
    }
    th {
      font-size: 16px;
      text-align: center;
    }
    tr {
      line-height: 40px;
    }

    button:hover {
      background: #1b729f;
    }
  }
  .uc-hide {
    display: none !important;
  }
}
