<div class="main">
    <div class="box" style="background: none;">
        <div class="use-count-box-right-header">
            <div class="use-count-text-container">
                <div class="use-count-nav-icon"></div>
                <div class="right-title" translate="ADMIN_USE_STATISTICS"></div>
            </div>
            <div class="search-condition-container">
                <div class="time-button-container">
                    <div ng-class="{ 'selected': vm.currentBtn == 1 }" ng-click = "vm.getOneWeekData()" translate="ADMIN_WEEK"></div>
                    <div ng-class="{ 'selected': vm.currentBtn == 2 }" ng-click = "vm.getOneMonthData()" translate="ADMIN_MONTH"></div>
                    <div ng-class="{ 'selected': vm.currentBtn == 3 }" ng-click = "vm.getOneYearData()" translate="ADMIN_YEAR"></div>
                </div>
                <div class="search-time-container">
                    <input type="text" id="J-calendar-start" ng-model="vm.calendarStart" placeholder="{{'ADMIN_START_DATE'| translate}}">
                    <div translate="ADMIN_TO"></div>
                    <input type="text" id="J-calendar-end" ng-model="vm.calendarEnd" placeholder="{{'ADMIN_END_DATE'| translate}}">
                </div>
                <div class="meeting-search-input-container">
                    <input type="text" placeholder="{{'ADMIN_ENTER_TIP2'| translate}}" ng-model="vm.meetingRoomStr">
                </div>
                <div class="col-xs-1">
                    <div class="search-button" ng-click="vm.searchCountData()" translate="ADMIN_INFORMATION_QUERY"></div>
                </div>
                <div>
                    <div class="output-table-button" ng-click="vm.outputCharts()" translate="ADMIN_EXPORT_REPORT"></div>
                </div>
            </div>
        </div>
        <div class="row" ng-class="{ 'uc-hide': !vm.hasDataOfMeetingTimes }">
            <div class="meeting-charts-container">
                <div id="meeting-use-times" style="height: 100%;"></div>
            </div>
            <div class="meeting-table-container">
                <table>
                    <tr>
                        <th translate="ADMIN_MEETINGROOM"></th>
                        <th translate="ADMIN_COUNT"></th>
                    </tr>
                    <tr ng-repeat="item in vm.meetingTime track by $index">
                        <td title="{{item.vmrNum}}">{{item.vmrNum}}</td>
                        <td>{{item.vmrCount}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--会议室使用次数 - no-data-->
        <div class="row uc-no-data-container" ng-class="{ 'uc-hide': vm.hasDataOfMeetingTimes }">
           <div class="uc-no-data-title" translate="ADMIN_USE_COUNT"></div>
	         <div class="uc-no-data-img"></div>
        </div>

        <div class="row" ng-class="{ 'uc-hide': !vm.hasDataOfSimultaneous }">
            <div class="meeting-charts-container">
                <div id="meeting-concurrent" style="height: 100%;"></div>
            </div>
            <div class="meeting-table-container">
                <table>
                    <tr>
                        <th translate="ADMIN_MEETINGROOM"></th>
                        <th translate="ADMIN_CONCURRENT"></th>
                    </tr>
                    <tr ng-repeat="item in vm.meetingConcurrent track by $index">
                        <td title="{{item.vmrNum}}">{{item.vmrNum}}</td>
                        <td>{{item.simultaneous}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- 会议室并发-no-data -->
        <div class="row uc-no-data-container uc-hide" ng-class="{ 'uc-hide': vm.hasDataOfSimultaneous }">
          <div class="uc-no-data-title" translate="ADMIN_HIGHEST"></div>
	        <div class="uc-no-data-img"></div>
        </div>

        <div class="meeting-duration-container" ng-class="{ 'uc-hide': !vm.hasDataOfDuration }">
            <div class="meeting-duration-chart-container">
                <div id="meeting-times" style="height: 300px;"></div>
            </div>
            <div class="meeting-duration-table-container">
                <table class="meeting-duration-table">
                    <tr class="tr-title">
                        <td></td>
                        <td ng-repeat="item in vm.meetingDurationTime track by $index">{{item}}</td>
                    </tr>
                    <tr class="tr-first">
                        <td title="{{'ADMIN_LENGTH'| translate}}" translate="ADMIN_LENGTH"></td>
                        <td ng-repeat="item in vm.meetingRoomDuration track by $index">{{item}}</td>
                    </tr>
                    <tr class="tr-second">
                        <td title="{{'ADMIN_TOTAL_LENGTH'| translate}}" translate="ADMIN_TOTAL_LENGTH"></td>
                        <td ng-repeat="item in vm.participantTotalDuration track by $index">{{item}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <!--会议时长-no-data -->
        <div class="row uc-no-data-container uc-hide" ng-class="{ 'uc-hide': vm.hasDataOfDuration }">
          <div class="uc-no-data-title" translate="ADMIN_LENGTH1"></div>
          <div class="uc-no-data-img"></div>
        </div>
    </div>

</div>
