.participant-detail {
  .box {
    background: none !important;
  }
  .participant-title {
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
    font-family: heiti;
  }
  hr {
    margin: 0 20px;
    border-top: 1px solid rgba(104, 120, 140, 0.2);
  }
  .participant-overview {
    background: #fff;
    box-shadow: 5px 8px 10px rgba(0,0,0,0.05);
    .participant-detail {
      padding: 5px 30px 10px;
      font-size: 12px;
      color: #68788c;
      .item {
        height: 40px;
        line-height: 40px;
        display: flex;
        .item-title {
          width: 25%
        }
        .item-value {
          text-align: left;
          width: 75%;
        }
        .device-origin {
          display: flex;
          align-items: center;
          line-height: 17px;
        }
      }
    }
  }
  .media-detail {
    background: #fff;
    margin: 28px 0;
    .no-data {
      height: 150px;
      line-height: 200px;
      margin: 0 auto;
      font-size: 12px;
      color: #9c9c9c;
    }
  }
}