main-meeting-room {
  width: 100%
  height: 100%
  .ml20 {
    margin-left: 20px;
  }
    a:hover{
      text-decoration none
    }
  .main {
  //width: 100%
    height: 100%
    display: flex
  //background: pink;
    flex-direction column
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei";
    font-size: 14px;
    .current {
      background: #0099CC
      border: none
    }
    .normal{
      background #fff;
    }

  }
}