<div class="main">
    <div class="box">
        <div class="title">
            <span translate="ADMIN_ROOM_MANAGE"></span>
        </div>
        <div class="list">
            <table class="table">
                <tr>
                    <th translate="ADMIN_ROOM_NUMBER1"></th>
                    <th translate="ADMIN_ROOM_NAME1"></th>
                    <th translate="ADMIN_LIMIT_COUNT"></th>
                    <th translate="ADMIN_HOST"></th>
                    <th translate="ADMIN_VISITOR"></th>
                    <th translate="ADMIN_OPERATION"></th>
                </tr>
                <tr ng-repeat="item in vm.roomList">
                    <td>{{!item.meetingRoomNum?"":item.meetingRoomNum}}</td>
                    <td>{{!item.name?"":item.name}}</td>
                    <td>{{!item.capacity?"":item.capacity}}</td>
                    <td>{{!item.hostPassword?"":item.hostPassword}}</td>
                    <td>{{!item.guestPassword?"":item.guestPassword}}</td>
                    <td ><a ui-sref="main.room-modify({id:item.id})" translate="ADMIN_MODIFY"></a></td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <span class="page-text"><span translate="ADMIN_TOTAL2"></span>{{ vm.totalCount }}<span translate="ADMIN_EACH_PAGE"></span>{{ vm.pageSize }}<span translate="ADMIN_STRIP"></span></span>
            <ul uib-pagination ng-change="vm.getMeetingRoomInfo();" max-size="vm.maxSize" next-text="|>" previous-text="<|" total-items="vm.totalCount" ng-model="vm.selPage" force-ellipses="true" items-per-page="vm.pageSize"></ul>
        </div>
    </div>

</div>