<div class="main">
    <!--删除模态框-->
    <div class="head">
        <div class="head-content">
            <!--<h1 class="left"><img src="image/logo.png" alt=""></h1>-->
            <div class="userss">
                录制直播<br>LIVE RECORDING
            </div>
            <div class="right2" ng-click="vm.signout()">
                <img src="../../../static/images2/red-end.png" alt="" class="red">
                <img src="../../../static/images2/gray-end.png" alt="" class="gray">
            </div>
        </div>
    </div>
    <div class="feedback" ng-show="vm.recordVisible">
        <div class="alerts">
            <div class="alert-head">
                温馨提示
                <img src="../../../static/images1/alertshanchu.png" alt="" class="img-right" ng-click="vm.recordVisible = false">
                <img src="../../../static/images1/zhuyi.png" alt="" class="img-left">
            </div>
            <div class="alert-content">{{vm.recordFeedbackContent}}</div>
            <div class="alert-bottom">
                <span class="alert-sure" ng-click="vm.saveDeleteRecord()">确定</span>
            </div>
        </div>
    </div>
    <!--视频播放模态框-->
    <div class="feedback" ng-show="vm.recordVideoPlayVisible">
        <div class="alerts video-modal-container">
            <div class="alert-head" style="padding: 0; text-align: center;">
                视频播放
                <img src="../../../static/images1/alertshanchu.png" alt="" class="img-right" ng-click="vm.recordVideoPlayVisible = false;vm.stopPlay();">
            </div>
            <div class="video-play-container">
                <video ng-src="{{vm.videoUrl}}" controls="controls" width="400" height="400">
                    your browser does not support the video tag
                </video>
            </div>
        </div>
    </div>
    <div class="title">
        <ul class="nav-record nav-tabs" role="tablist" style="overflow-y: hidden;">
            <li class="nav-item" ng-click="vm.tabToSwitch('live')">
                <a class="nav-link" ng-class="{'active': vm.liveClass}" data-toggle="tab" role="tab">直播活动</a>
            </li>
            <li class="nav-item" ng-click="vm.tabToSwitch('record')">
                <a class="nav-link" ng-class="{'active': vm.recordClass}" data-toggle="tab" role="tab">录制管理</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane" ng-class="{'active': vm.liveClass}" role="tabpanel">
                <div class="top">
                    <div class="top-left">
                        <div class="live-title">直播名称</div>
                        <input type="text" class="broadcastName">
                        <input type="button" value="搜索" class="search" ng-click="vm.searchLiveListByName($event)" ng-keyup="vm.searchLiveListByName($event)">
                    </div>
                    <div class="top-right">
                        <input type="button" class="create" value="+创建直播活动" ui-sref="main.create-broadcast">
                    </div>
                </div>
                <div ng-if="vm.liveInfo === ''" class="no-data-tip">
                    目前还没有直播，快去创建吧！
                </div>
                <div class="list" ng-if="vm.liveInfo !== ''">
                    <table class="table">
                        <tr>
                            <th>直播名称</th>
                            <th>会议室号</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="item in vm.liveInfo">
                            <td>{{item.title}}</td>
                            <td>{{item.vmrNum }}</td>
                            <td>{{item.startTime}}</td>
                            <td>{{item.endTime}}</td>
                            <td ng-if="item.status === 0">未开始</td>
                            <td ng-if="item.status === 1">已开始</td>
                            <td ng-if="item.status === 2">已结束</td>
                            <td class="live-operation-item-container">
                                <a ng-if="item.status !== 2" href="//{{vm.previewURLPrefix}}/live/live.html#/{{item.liveId}}" target="_blank">直播地址</a>
                                <div ng-if="item.status === 0" ui-sref="main.update-broadcast" ng-click="vm.setUpdateLiveID(item.id)">修改</div>
                                <div ng-if="item.status === 2">——</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-if="vm.liveInfo !== ''" class="paging">
                    <span>第<i ng-bind="vm.liveCurrent"></i>页/共<i ng-bind="vm.liveTotalPage"></i>页，共<i ng-bind="vm.liveTotalCount"></i>条</span>
                    <span class="before page-common" ng-click="vm.prevLivePage()" ng-show="vm.liveCurrent !== 1">＜</span>
                    <span class="before page-common bg" ng-show="vm.liveCurrent === 1">＜</span>
                    <ul></ul>
                    <ul>
                        <li ng-repeat="item in vm.livePager" class="pageNum page-common" ui-sref="main.account({page:item.value})" ng-class="{true:'current',false:'normal'}[item.value === vm.liveCurrent]" ng-click="vm.liveCurrent = item.value; vm.getLiveList()">{{item.type==0?item.value:'...'}}</li>
                        <!--<li ng-repeat="item in vm.livePager" class="pageNum page-common" ui-sref="main.account({page:item.value})" ng-class="{true:'current',false:'normal'}[item.value === vm.liveCurrent]" ng-click="vm.liveCurrent = item.value">{{item.type==0?item.value:'...'}}</li>-->
                    </ul>
                    <span class="after page-common bg" ng-if="vm.liveCurrent==vm.liveTotalPage">＞</span>
                    <span class="after page-common" ng-click="vm.nextLivePage()" ng-if="vm.liveCurrent!=vm.liveTotalPage">＞</span>
                    <input type="number" class="skip" ng-model="vm.liveSkipCount">
                    <span class="skipButton" ng-click="vm.liveSkipCount >= 1 && vm.liveSkipCount <= vm.liveTotalPage ? vm.liveCurrent = vm.liveSkipCount : vm.liveSkipCount = ''; vm.liveSkipCount >= 1 && vm.liveSkipCount <= vm.liveTotalPage ? vm.getLiveList():''">跳转</span>
                </div>
            </div>
            <div class="tab-pane" ng-class="{'active': vm.recordClass}" role="tabpanel">
                <div class="list">
                    <table class="table">
                        <tr>
                            <th>序号</th>
                            <th>会议室</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>文件大小</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="item in vm.recordInfo">
                            <td>{{$index + 1 + vm.recordPageSize * (vm.recordCurrent - 1)}}</td>
                            <td>{{item.meetingRoomNum}}</td>
                            <td>{{vm.formatLocaleTime(item.startTime)}}</td>
                            <td>{{vm.formatLocaleTime(item.endTime)}}</td>
                            <!--<td>{{item.list[0].size}}</td>-->
                            <td class="file-size-list">
                                <div ng-repeat="sizeItem in item.list">{{sizeItem.size}}</div>
                            </td>
                            <td class="operation-item-container">
                                <div ng-repeat="sizeItem in item.list" class="operation-item">
                                    <a ng-href="{{sizeItem.path}}" ng-if="item.list.length">下载</a>
                                    <div ng-click="vm.toggleVideoPlayModal(sizeItem.path)" ng-if="item.list.length">回放</div>
                                    <div ng-click="vm.toggleDeleteModal(sizeItem.name)" ng-if="item.list.length">删除</div>
                                </div>
                                <div ng-if="!item.list.length">——</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-if="vm.recordInfo" class="paging">
                    <span>第<i ng-bind="vm.recordCurrent"></i>页/共<i ng-bind="vm.recordTotalPage"></i>页，共<i ng-bind="vm.recordTotalCount"></i>条</span>
                    <span class="before page-common" ng-click="vm.prevRecordPage()" ng-show="vm.recordCurrent !== 1">＜</span>
                    <span class="before page-common bg" ng-show="vm.recordCurrent === 1">＜</span>
                    <ul></ul>
                    <ul>
                        <li ng-repeat="item in vm.recordPager" class="pageNum page-common" ui-sref="main.account({page:item.value})" ng-class="{true:'current',false:'normal'}[item.value === vm.recordCurrent]" ng-click="vm.recordCurrent = item.value; vm.getRecordList()">{{item.type==0?item.value:'...'}}</li>
                        <!--<li ng-repeat="item in vm.livePager" class="pageNum page-common" ui-sref="main.account({page:item.value})" ng-class="{true:'current',false:'normal'}[item.value === vm.liveCurrent]" ng-click="vm.liveCurrent = item.value">{{item.type==0?item.value:'...'}}</li>-->
                    </ul>
                    <span class="after page-common bg" ng-if="vm.recordCurrent==vm.recordTotalPage">＞</span>
                    <span class="after page-common" ng-click="vm.nextRecordPage()" ng-if="vm.recordCurrent!=vm.recordTotalPage">＞</span>
                    <input type="number" class="skip" ng-model="vm.recordSkipCount">
                    <span class="skipButton" ng-click="vm.recordSkipCount >= 1 && vm.recordSkipCount <= vm.recordTotalPage ? vm.recordCurrent = vm.recordSkipCount : vm.recordSkipCount = ''; vm.recordSkipCount >= 1 && vm.recordSkipCount <= vm.recordTotalPage ? vm.getRecordList():''">跳转</span>
                </div>
            </div>
        </div>
    </div>
</div>