<div class="main">

    <!-- 修改/绑定邮箱页面 -->
    <div class="box">
        <div class="title">
            <span translate="ADMIN_MODIFY_MAIL"></span>
        </div>
        <hr />
        <div class="form">
            <div class="form-group">
                <label for="" translate="ADMIN_ORIGIN_MAIL"></label>
                <span class="old-info">{{vm.oldEmail}}</span>
            </div>
            <div class="form-group">
                <label for="" translate="ADMIN_NEW_MAIL"></label>
                <input class="form-control" type="text" name="newEmail" ng-class="{'is-error': vm.errorTips.newEmail}" ng-model="vm.newEmail" placeholder="{{'ADMIN_INPUT_MAIL' | translate}}">
                <div class="error-tip">{{vm.errorTips.newEmail}}</div>
            </div>
            <div class="form-group">
                <label for="" translate="ADMIN_VERIFICATION_CODE"></label>
                <input class="form-control code-input" type="text" name="authCode" ng-class="{'is-error': vm.errorTips.authCode}" ng-model="vm.authCode" placeholder="{{'ADMIN_ENTER_CODE' | translate}}">
                <div class="error-tip">{{vm.errorTips.authCode}}</div>
                <button class="btn code-btn" type="button" ng-disabled="vm.disabled" ng-click="vm.getCode()" translate="{{'ADMIN_GET_CODE' | translate}}"></button>
                <p class="code-tip">
                <p class="code-tip" ng-show="vm.codeTipVisibly">{{'ADMIN_SEND_CODE' | translate:vm.second}}</p>
                    <!--<span ng-show="vm.codeTipVisibly"><span translate="ADMIN_SEND_CODE"></span>{{vm.count}}<span translate="ADMIN_GET_TIME"></span></span>-->
                </p>
            </div>
            <div class="form-group">
                <button class="btn btn-block save-button" type="button" ng-click="vm.alterEmail()" translate="ADMIN_SURE"></button>
            </div>
        </div>
    </div>
</div>
