<div class="main">
    <!--<div class="head">-->
        <!--<div class="head-content">-->
            <!--&lt;!&ndash;<h1 class="left"><img src="image/logo.png" alt=""></h1>&ndash;&gt;-->
            <!--<div class="userss">-->
                <!--会议统计<br>CONFERENCE STATISTICS-->
            <!--</div>-->
            <!--<div class="right2">-->
                <!--<img src="../../../static/images2/red-end.png" alt="" style="display:none;" class="red">-->
                <!--<img src="../../../static/images2/gray-end.png" alt="" class="gray">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="box">
        <div class="count-title">
            <div class="buttons">
                <button value="day" class="button1" translate="ADMIN_YEAR"></button>
                <button value="month" class="button2" translate="ADMIN_MONTH"></button>
                <button vlaue="week" class="button3" translate="ADMIN_WEEK"></button>
            </div>
            <div class="chaxun-right">
                <div class="imgcirle"></div>
                <input type="text" id="J-count-start-time" name="start-time" id="datatime1" placeholder="{{'ADMIN_START_DATE'| translate}}" ng-model="vm.startTime">
                <i style="display:inline-block;width:10px;background:#a9a9a9;height:1px;margin-right:2px;"></i>
                <div class="imgcirle" style="left:142px"></div>
                <input type="text" id="J-count-end-time" name="start-time" id="datatime2" placeholder="{{'ADMIN_END_DATE'| translate}}" style="margin-left:34px;" ng-model="vm.endTime">
            </div>
            <span class="query" ng-click="vm.query()"></span>
        </div>
        <!--<div class="title">-->
            <!--<span>会议统计</span>-->
        <!--</div>-->
        <div class="count-content">
            <div class="statical-chart"></div>
            <div class="list">
                <table class="table">
                    <tr>
                        <th translate="ADMIN_ROOM_NUMBER1"></th>
                        <th translate="ADMIN_ROOM_NAME"></th>
                        <th translate="ADMIN_LIMIT_COUNT"></th>
                        <th translate="ADMIN_HOST"></th>
                        <th translate="ADMIN_GUEST"></th>
                        <th translate="ADMIN_OPERATION"></th>
                    </tr>
                    <tr>
                        <td>001</td>
                        <td>0012</td>
                        <td>40</td>
                        <td>70012</td>
                        <td>123345</td>
                        <td translate="ADMIN_EDIT"></td>
                    </tr>

                </table>
                <div class="paging">
                    <span><span translate="ADMIN_NO"></span><i>1</i><span translate="ADMIN_TOTAL"></span><i>2</i><span translate="ADMIN_TOTAL1"></span><i>6</i><span translate="ADMIN_STRIP"></span></span>
                    <span class="before page-common">＜</span>
                    <ul>
                        <li class="pageNum page-common current">1</li>
                        <li class="pageNum page-common">2</li>
                        <li class="pageNum page-common">3</li>
                    </ul>
                    <span class="after page-common">＞</span>
                    <input type="text" class="skip">
                    <span class="skipButton" translate="ADMIN_JUMP"></span>
                </div>
            </div>

        </div>

    </div>

</div>