.pc-input-of-file {
  position: absolute;
  z-index: -10;
}
.pc-ico {
  background: #f5f8f9;
  width: 50px;
  height: 50px;
  border: 1px solid #d8ded7;
}
.pc-index-image {
  background: #f5f8f9;
  width: 74px;
  height: 133px;
  border: 1px solid #d8ded7;
}

.pc-index-logo {
  background: #f5f8f9;
  width: 70px;
  height: 70px;
  border: 1px solid #d8ded7;
}
.pc-background {
  background: #f5f8f9;
  width: 175px;
  height: 98px;
  border: 1px solid #d8ded7;
}
.pc-install-first {
  background: #f5f8f9;
  width: 175px;
  height: 20px;
  border: 1px solid #d8ded7;
}
.pc-install-second {
  background: #f5f8f9;
  width: 175px;
  height: 110px;
  border: 1px solid #d8ded7;
}
.having-publish {
  pointer-events: none;
  opacity: 0.5;
}
.forbid-click {
  pointer-events: none;
}
