<div class="main">
    <div class="feedback" ng-show="vm.visible">
        <div class="alerts">
            <div class="alert-head">
                <span translate="ADMIN_REMINDER"></span>
                <img src="../../../static/images1/alertshanchu.png" alt="" class="img-right" ng-click="vm.close()">
                <img src="../../../static/images1/zhuyi.png" alt="" class="img-left">
            </div>
            <div class="alert-content">{{vm.feedbackContent}}</div>
            <div class="alert-bottom">
                <span class="alert-sure" ng-click="vm.close()" translate="ADMIN_SURE"></span>
            </div>
        </div>
    </div>
    <div class="feedback" ng-show="vm.visible1">
        <div class="alerts">
            <div class="alert-head">
                <span translate="ADMIN_REMINDER"></span>
                <img src="../../../static/images1/alertshanchu.png" alt="" class="img-right" ng-click="vm.cancel()">
                <img src="../../../static/images1/zhuyi.png" alt="" class="img-left">
            </div>
            <div class="alert-content">{{vm.feedbackContent}}</div>
            <div class="alert-bottom">
                <span class="alert-sure" ng-click="vm.sureDelete()" translate="ADMIN_SURE"></span>
                <span class="alert-cancel" ng-click="vm.cancel()" translate="ADMIN_CANCEL"></span>
            </div>
        </div>
    </div>
    <div class="feedback" ng-show="vm.visible2">
        <div class="alerts1">
            <div class="alert1-head" translate="ADMIN_ADD_PERSON"></div>
            <div class="create-broadcast">
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice">*</span>
                        <span class="titleText" translate="ADMIN_PERSON_NAME"></span>
                    </div>
                    <div class="box-right">
                        <input type="text" class="titleContent" ng-model="vm.personName" maxlength="30" placeholder="{{'ADMIN_INPUT_PERSON_NAME' | translate}}">
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice">*</span>
                        <span class="titleText" translate="ADMIN_CONTACT_MAILBOX"></span>
                    </div>
                    <div class="box-right">
                        <input type="text" class="titleContent" ng-model="vm.personEmail" maxlength="30" placeholder="{{'ADMIN_INPUT_MAIL' | translate}}">
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice">*</span>
                        <span class="titleText" translate="ADMIN_CONTACT_NUMBER"></span>
                    </div>
                    <div class="box-right">
                        <input type="text" class="titleContent" ng-model="vm.personPhone" maxlength="30" placeholder="{{'ADMIN_INPUT_NUMBER' | translate}}">
                    </div>
                </div>
                <div class="box-describe">
                    <div class="box-left">
                        <span class="notice"></span>
                        <span class="titleText" translate="ADMIN_NOTE_INFORMATION"></span>
                    </div>
                    <div class="box-right">
                        <textarea class="live-desc" name="" ng-model="vm.remark" cols="30" rows="8"></textarea>
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice"></span>
                        <span class="titleText" translate="ADMIN_GROUP_MANAGE"></span>
                    </div>
                    <div class="box-right">
                        <select ng-model="vm.teamManage" style="border: 1px solid #cccccc;">
                            <option value="" translate="ADMIN_NO_GROUP"></option>
                            <option ng-value="item.id" ng-repeat="item in vm.teams" ng-hide="item.tName === ''">{{item.tName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="alert-bottom">
                <span class="alert-sure" ng-click="vm.sureAdd()" translate="ADMIN_SURE"></span>
                <span class="alert-cancel" ng-click="vm.cancel()" translate="ADMIN_CANCEL"></span>
            </div>
        </div>
    </div>
    <div class="feedback" ng-show="vm.visible3">
        <div class="alerts1">
            <div class="alert1-head" translate="ADMIN_EDIT_PERSON"></div>
            <div class="create-broadcast">
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice">*</span>
                        <span class="titleText" translate="ADMIN_PERSON_NAME"></span>
                    </div>
                    <div class="box-right">
                        <input type="text" class="titleContent" ng-model="vm.personName" maxlength="30" placeholder="{{'ADMIN_INPUT_PERSON_NAME' | translate}}">
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice">*</span>
                        <span class="titleText" translate="ADMIN_CONTACT_MAILBOX"></span>
                    </div>
                    <div class="box-right">
                        <input type="text" class="titleContent" ng-model="vm.personEmail" maxlength="30" placeholder="{{'ADMIN_INPUT_MAIL' | translate}}">
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="notice">*</span>
                        <span class="titleText" translate="ADMIN_CONTACT_NUMBER"></span>
                    </div>
                    <div class="box-right">
                        <input type="text" class="titleContent" ng-model="vm.personPhone" maxlength="30" placeholder="{{'ADMIN_INPUT_NUMBER' | translate}}">
                    </div>
                </div>
                <div class="box-describe">
                    <div class="box-left">
                        <span class="notice"></span>
                        <span class="titleText" translate="ADMIN_NOTE_INFORMATION"></span>
                    </div>
                    <div class="box-right">
                        <textarea class="live-desc" name="" ng-model="vm.remark" cols="30" rows="8"></textarea>
                    </div>
                </div>
                <div class="box-broadcast">
                    <div class="box-left">
                        <span class="titleText" translate="ADMIN_GROUP_MANAGE"></span>
                    </div>
                    <div class="box-right">
                        <select style="border: 1px solid #cccccc;" ng-model="vm.teamManage">
                            <option value="0" translate="ADMIN_NO_GROUP"></option>
                            <option ng-value="item.id" ng-repeat="item in vm.teams" ng-hide="item.tName === ''">{{item.tName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="alert-bottom">
                <span class="alert-sure" ng-click="vm.sureModify()" translate="ADMIN_SURE"></span>
                <span class="alert-cancel" ng-click="vm.cancel()" translate="ADMIN_CANCEL"></span>
            </div>
        </div>
    </div>
    <div class="feedback" ng-show="vm.visible4">
        <div class="alerts">
            <div class="alert-head">
                <span translate="ADMIN_REMINDER"></span>
                <img src="../../../static/images1/alertshanchu.png" alt="" class="img-right" ng-click="vm.cancelSingle()">
                <img src="../../../static/images1/zhuyi.png" alt="" class="img-left">
            </div>
            <div class="alert-content">{{vm.feedbackContent4}}</div>
            <div class="alert-bottom">
                <span class="alert-sure" ng-click="vm.sureDeleteSingle()" translate="ADMIN_SURE"></span>
                <span class="alert-cancel" ng-click="vm.cancelSingle()" translate="ADMIN_CANCEL"></span>
            </div>
        </div>
    </div>
    <!--<div class="head">-->
        <!--<div class="head-content">-->
            <!--&lt;!&ndash;<h1 class="left"><img src="image/logo.png" alt=""></h1>&ndash;&gt;-->
            <!--<div class="userss">-->
                <!--通讯录<br>ADDRESS LIST-->
            <!--</div>-->
            <!--<div class="right2" ng-click="vm.signout()">-->
                <!--<img src="../../../static/images2/red-end.png" alt="" class="red">-->
                <!--<img src="../../../static/images2/gray-end.png" alt="" class="gray">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="address-box">
        <div class="title">
            <span translate="ADMIN_ADDRESS_LIST"></span>
            <button class="create" ng-click="vm.addPerson()" translate="ADMIN_ADD_PERSON"></button>
        </div>
        <div class="address-list">
            <div class="table">
                <table class="tableContent">
                    <tr>
                        <th translate="ADMIN_NAME1"></th>
                        <th translate="ADMIN_MAILBOX"></th>
                        <th translate="ADMIN_NUMBER"></th>
                        <th translate="ADMIN_GROUP"></th>
                        <th translate="ADMIN_OPERATION"></th>
                    </tr>
                    <tr ng-repeat="item in vm.items">
                        <td>{{item.cName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phoneNum}}</td>
                        <td>{{item.tName}}</td>
                        <td><a href="" ng-click="vm.modifySingle(item.cName,item.email,item.phoneNum,item.teamId,item.id)" translate="ADMIN_MODIFY"></a>  <a href="" ng-click="vm.deleteSingle(item.id)" translate="ADMIN_DELETE"></a></td>
                    </tr>
                </table>
                <div class="paging">
                    <span><span translate="ADMIN_NO"></span><i ng-bind="vm.selPage"></i><span translate="ADMIN_TOTAL"></span><i ng-bind="vm.total"></i><span translate="ADMIN_TOTAL1"></span><i ng-bind="vm.totalCount"></i><span translate="ADMIN_STRIP"></span></span>
                    <span class="before page-common" ng-click="vm.prevPage(vm.selPage)" ng-class="{1:'bg'}[vm.selPage]">＜</span>
                    <ul>
                        <li class="pageNum page-common" ng-click="vm.selectPage(item.value,item.type)"  ng-repeat="item in vm.pager" ng-class="{true:'current',false:'normal'}[item.isCurrent]">{{item.type==0?item.value:'...'}}</li>
                    </ul>
                    <span class="after page-common" ng-click="vm.nextPage(vm.selPage)" ng-class="{'bg':vm.selPage==vm.total}">＞</span>
                    <input type="text" class="skip" ng-model="vm.count">
                    <span class="skipButton" ng-click="vm.jump(vm.count)" translate="ADMIN_JUMP"></span>
                </div>

            </div>
            <div class="right">
                <div class="contacts">
                    <span class="linkMan" translate="ADMIN_LINKMAN"></span>
                    <span><i translate="ADMIN_ALL_CONTACTS"></i><a href="javascript:;" ng-click="vm.showAll()">({{vm.allContactsCount}}</a><a translate="ADMIN_PEOPLE"></a></span>
                    <span><i translate="ADMIN_UNGROUP"></i><a href="javascript:;" ng-click="vm.showUngrouped()" >({{vm.ungrouped}}</a><a translate="ADMIN_PEOPLE"></a></span>
                </div>
                <div class="group">
                    <span class="link-group group-common">
                        <span translate="ADMIN_LINK_GROUP"></span>
                        <img class="addIcon" src="../../../static/images2/groupadd.png" alt="" ng-click="vm.addGroup()">
                    </span>
                    <div class="group-add" ng-show="vm.ifAdd">
                        <input class="groupName" type="text" placeholder="{{'ADMIN_GROUP_NAME' | translate}}" ng-model="vm.groupName">
                        <span class="edit"><a href="" ng-click="vm.sure()" translate="ADMIN_SURE"></a>  <a href="" ng-click="vm.addGroup()" translate="ADMIN_CANCEL"></a></span>
                    </div>
                    <ul class="group-common" >
                        <li ng-repeat="item in vm.teams">
                            <div class="groupName">
                                <span ng-click="vm.showGroup(item.id,item.account)">{{item.tName}}<a href="javascript:;">({{item.account}}</a><a translate="ADMIN_PEOPLE"></a></span>
                                <span style="font-weight:normal;font-size:12px;"><a href="" class="modify" ng-click="vm.modify(item.id)" translate="ADMIN_MODIFY"></a> <a href="" class="delete" ng-click="vm.delete(item.id)" translate="ADMIN_DELETE"></a></span>
                            </div>
                            <div class="group-edit" ng-show="item.id==vm.parentId" ng-if="vm.ifModify">
                                <input class="groupName" type="text" ng-model="vm.groupName1">
                                <span class="edit"><a href="" ng-click="vm.sureEdit(item.id)" translate="ADMIN_SURE"></a>  <a href="" ng-click="vm.cancelEdit()" translate="ADMIN_CANCEL"></a></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>