.android-login-logo {
  background: #f5f8f9;
  width: 175px;
  height: 50px;
  border: 1px solid #d8ded7;
}
.android-call-history {
  background: #f5f8f9;
  width: 50px;
  height: 50px;
  border: 1px solid #d8ded7;
}
.android-ico {
  background: #f5f8f9;
  width: 50px;
  height: 50px;
  border: 1px solid #d8ded7;
}
.android-start-page {
  background: #f5f8f9;
  width: 74px;
  height: 133px;
  border: 1px solid #d8ded7;
}
.android-input-of-file {
  position: absolute;
  z-index: -10;
}
.having-publish {
  pointer-events: none;
  opacity: 0.5;
}
.loading-spinner {
  margin-top: -21px;
  width: 100%;
  text-align: center;
  position: relative;
  background-color: rgba(255,255,255,0.9);
  transition: opacity 0.3s;
  padding: 0;
  font-size: 14px;
  color: #4f9fcf;
  height: 27px;
  line-height: 27px;
  img {
    margin-right: 10px;
  }
}