.meeting-login-logo {
  background: #f5f8f9;
  width: 180px;
  height: 35px;
  border: 1px solid #d8ded7;
}
.meeting-ico {
  background: #f5f8f9;
  width: 50px;
  height: 50px;
  border: 1px solid #d8ded7;
}
.meeting-background {
  background: #f5f8f9;
  width: 150px;
  height: 100px;
  border: 1px solid #d8ded7;
}
.meeting-input-of-file {
  position: absolute;
  z-index: -10;
}