<div class="main">
    <div class="box">
        <div class="title">
            <ul>
                <li><a ui-sref="main.meeting-room({page:1})" translate="ADMIN_ROOM_MANAGE"></a></li>
                <li class="nav-icon"> ></li>
                <li class="active" translate="ADMIN_MODIFY"></li>
            </ul>
        </div>
        <div class="create-broadcast">
            <div class="box-room">
           <span class="titleLeft">
                <i>*</i>
               <span translate="ADMIN_ROOM_NAME2"></span>
           </span>
                <input type="text" class="inputBox " id="meetingroom-name" ng-model="vm.name">
            </div>
            <div class="box-room">
           <span class="titleLeft" translate="ADMIN_ROOM_NUMBER"></span>
                <label class="inputBox">{{vm.meetingRoomNum}}</label>
            </div>
            <div class="box-room">
           <span class="titleLeft" translate="ADMIN_LIMIT_COUNT1"></span>
                <input type="text" class="inputBox" ng-model="vm.capacity">
            </div>

            <div class="box-room">
           <span class="titleLeft" translate="ADMIN_MEETING_THEME1"></span>
           <select class="inputBox" ng-model="vm.themeId">
                <option ng-value="theme.themeId" ng-repeat="theme in vm.selectableThemes">{{theme.themeName}}</option>
           </select>
            </div>
            <div class="box-room">
           <span class="titleLeft" translate="ADMIN_HOST1"></span>
                <input type="text" class="inputBox" ng-model="vm.hostPassword">
            </div>
            <div class="box-room" style="display: flex;">
           <span class="titleLeft" translate="ADMIN_ALLOW_JOIN"></span>
                <span class="join-participant-permission">
                    <span ng-repeat="item in vm.checkList" class="checkList">
                        <input type="radio" name="admintButton" value="{{item.key}}" ng-click="vm.changeStatus(item.key)"
                            ng-checked="item.key==vm.allowGuestFlag" ng-model="vm.allowGuestFlag">{{item.value}}
                    </span>
            </span>
            </div>

            <div class="box-room" ng-show="vm.allowGuestFlag == 1">
           <span class="titleLeft" translate="ADMIN_GUEST1"></span>
                <input type="text" class="inputBox" ng-model="vm.guestPassword">
            </div>

            <div class="describe">
           <span class="titleLeft" translate="ADMIN_ROOM_DESCRIPTION"></span>
                <textarea name="" id="" cols="30" ng-model="vm.description" rows="3"
                          placeholder="{{'ADMIN_INPUT_DESCRIPTION'| translate}}"></textarea>
            </div>
            <div class="bottom">
                <input type="button" value="{{'ADMIN_SAVE'| translate}}" id="save" class="common" ng-click="vm.saveModify()">
                <input type="button" value="{{'ADMIN_CANCEL'| translate}}" id="cancel" class="common" ui-sref="main.meeting-room({page:1})">
            </div>
        </div>
    </div>

</div>
