.operation-title {
  text-align: left !important;
}
.search-condition {
  padding-left: 10px !important;
  position: relative;
  .search-button {
    background: #1d94f5 !important;
    color: #fff;
    opacity: 1 !important;
    width: 70px;
    line-height: 24px !important;
    border: none !important;
  }
  .live-operation-button {
    background: #1d94f5;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 0 10px;
    position: absolute !important;
    right: 85px !important;
  }
}
.operation-item-container {
  display: flex;
  align-items: center;
  div, a {
    color: #42a8fb;
    margin-right: 10px;
  }
  .detail-btn {
    cursor: pointer;
  }
}