main-status {
  .main {
    .box {
      flex: 1;
      display: box;
      display: -webkit-box; /* iOS 6-, Safari 3.1-6 */
      display: -webkit-flex; /* Chrome */
      display: -moz-box; /* Firefox 19 */
      display: -ms-flexbox;
      display: flex; /*flex容器*/
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction:column;
      margin: 0 30px;
      border-radius: 5px;
      background: none !important;
      .status-title {
        color: #fff;
        font-size: 20px;
        margin-bottom: 15px;
        font-family: heiti;
      }
      .right-top {
        display: box;
        display: -webkit-box; /* iOS 6-, Safari 3.1-6 */
        display: -webkit-flex; /* Chrome */
        display: -moz-box; /* Firefox 19 */
        display: -ms-flexbox;
        display: flex; /*flex容器*/
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        -o-justify-content: space-between;
        justify-content: space-between;
        .organize {
          width: 49%;
          height: 140px;
          border-radius: 1px;
          background-color: #fff;
          box-shadow: 8px 8px 16px rgba(0,0,0,0.05);
          .count {
            font-size: 50px;
            text-align: center;
            color: #fb8342;
            font-family: heiti;
          }
          i {
            font-style: normal;
            font-size: 14px;
            color: #42a8fb;
          }
          .department table {
            height: 130px;
            padding: 20px;
            font-size: 12px;
            color: #68788c;
            margin-left: 30px;
            .box-title td {
              padding: 15px;
              background: url("../../../static/images2/react.png") left center no-repeat;
              color: #000;
              font-size: 14px;
            }
          }

          .count-device {
            padding: 0 18px;
            table {
              height: 130px;
              padding: 20px;
              font-size: 12px;
              margin-top: 10px;
              color: #68788c;
              width: 100%;
              .box-title td {
                padding: 0 15px;
                background: url("../../../static/images2/react.png") left center no-repeat;
                font-size: 14px;
                line-height: 25px;
                color: #000;
              }
            }
          }
        }
        .content-right {
          width: 48%;
          border-radius: 1px;
          background: #fff;
          .count {
            font-size: 40px;
            padding-left: 15px;
            color: #fb8342;
          }
          i {
            font-style: normal;
            font-size: 14px;
            color: #42a8fb;
          }
          .count-meetingroom table {
            height: 140px;
            padding: 20px;
            font-size: 12px;
            color: #68788c;
            margin-left: 30px;
            td {
              width: 15%;
              line-height: 25px;
            }
            .box-title td {
              padding: 15px;
              background: url("../../../static/images2/react.png") left center no-repeat;
              font-size: 14px;
              color: #000;
            }
          }

          .account table {
            height: 140px;
            padding: 20px;
            font-size: 12px;
            margin-top: 10px;
            margin-left: 30px;
            color: #68788c;
            .box-title td {
              padding: 15px;
              background: url("../../../static/images2/react.png") left center no-repeat;
              font-size: 14px;
              line-height: 25px;
              color: #000;
            }
          }
        }
      }
      .status-container {
        background: #fff !important;
        margin-bottom: 20px;
        .td-first {
          color: #42a8fb !important;
          cursor: pointer;
        }
        .active-no-data {
          height: 180px;
          line-height: 230px;
          margin: 0 auto;
          font-size: 12px;
          color: #9c9c9c;
        }
      }
      .chart {
        height: 290px;
        margin: 20px 0;
        padding: 20px 0 20px 20px;
      }
    }
  }

}