<div class="main">
    <div class="box">
        <div class="status-title" translate="ADMIN_OVERVIEW"></div>
        <div class="right-top">
            <div class="organize">
                <div class="count-device">
                    <table>
                        <tr class="box-title">
                            <td translate="ADMIN_DEVICE_ACCOUNT"></td>
                        </tr>
                        <tr>
                            <!-- {{vm.deviceAccount}} -->
                            <td rowspan="2" class="count">{{vm.userAccount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="organize">
                <div class="count-device">
                    <table>
                        <tr class="box-title">
                            <td translate="ADMIN_MEETING_COUNT"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="count">{{vm.count}}</td>
                        </tr>
                    </table>
                </div>
                <div class="account">
                    <table class="hidden">
                        <tr class="box-title">
                            <td translate="ADMIN_USER_ACCOUNT"></td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="count">{{vm.userAccount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- 图表部分 -->
        <div class="status-container chart" id="container"></div>
        <!-- 实时会议信息 -->
        <div class="status-container">
            <div class="title">
                <span translate="ADMIN_STATUS_ACTIVE_TITLE"></span>
            </div>
            <div class="list">
                <table class="table" ng-if="vm.activeMeetingInfoList.length">
                    <tr>
                        <th translate="ADMIN_STATUS_ACTIVE_NUMBER"></th>
                        <th translate="ADMIN_STATUS_ACTIVE_DURATION"></th>
                        <th translate="ADMIN_STATUS_ACTIVE_PARTICIPANT"></th>
                    </tr>
                    <tr ng-repeat="item in vm.activeMeetingInfoList track by $index">
                        <td class="td-first" title="{{ item.meetingRoomNum }}" ng-bind="item.meetingRoomNum" ng-click="vm.getMeetingDetail(item)"></td>
                        <td ng-bind="item.conferenceDuration"></td>
                        <td ng-bind="item.participantCount"></td>
                    </tr>
                </table>
                <div class="active-no-data" ng-if="!vm.activeMeetingInfoList.length" translate="ADMIN_STATUS_ACTIVE_NO_MEETING"></div>
            </div>
        </div>
    </div>
</div>
