<!--
	1、不要出现空的属性，例如alt="" ；
	2、嵌套的层数应该尽可能的少；
	3、class属性应作为元素的第一个属性；
	4、类名不要用驼峰式，而是用中划线进行连接;
	CSS文件
	1、每个属性必须以分号结尾；
-->
<div class="content" ng-style="vm.backgroundStyle">
	<div class="container">
		<div class="right">
			<div class="logo-flex">
				<img class="logo-img" ng-src="{{vm.loginLogonStyle}}">
			</div>
			<form>
				<span class="login-tip login-tip-opacity" ng-bind="vm.errorMsg" ng-class="{'login-tip-opacity': !vm.errorMsg}"></span>
				<div class="user-name common pr input-box">
					<input class="input-common pf55" type="text" placeholder="{{'ADMIN_INPUT_USER'| translate}}" ng-model="vm.username" ng-keypress="vm.enterEvent($event)">
				</div>
				<div class="password common pr input-box">
					<input class="input-common pf55" type="password" placeholder="{{'ADMIN_PASSWORD'| translate}}" ng-model="vm.password" ng-keypress="vm.enterEvent($event)">
				</div>
				<div class="logon input-box">
					<input class="input-common login-btn" type="button" ng-value="vm.loginText | translate" ng-click="vm.login()" ng-disabled="vm.isLogin">
				</div>
			</form>
		</div>
	</div>
</div>
